@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    This is the Buy Ticket page. The page will allow users to purchase tickets for events listed on the ExpoBook platform.
</p>
