@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    This is the My Ticket page. The page will display the participant's purchased tickets and relevant information about them.
</p>