@model ExpoBookApp.Models.Event;


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @* <div id="drop-area" class="border p-4 text-center bg-light" style="cursor: pointer;">
        <p>Drag & drop your event image here or click to select a file!</p>
        <input type="file" name="ImageFile" id="ImageFile" accept="image/*" class="d-none" />
        <img id="preview" src="#" alt="Image Preview" style="display:none; max-height:200px; margin-top:10px;" />
    </div> <br />*@
    
    <div class="form-group">
        <label asp-for="EventName" class="control-label fw-bold"></label>
        <input asp-for="EventName" class="form-control" />
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventType" class="control-label fw-bold"></label>
        <input asp-for="EventType" class="form-control" />
        <span asp-validation-for="EventType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Venue" class="control-label fw-bold"></label>
        <select asp-for="Venue" class="form-control"> 
            <option value="">-- Select a venue --</option>
            <option value="testvenue">TestVenue-</option>
        </select>
        <span asp-validation-for="Venue" class="text-danger"></span>
    </div><br />

    <div class="d-flex justify-content-between" id="DateSection">
        <div class="form-group me-3 w-50">
            <label asp-for="StartDate" class="control-label fw-bold"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group w-50">
            <label asp-for="EndDate" class="control-label fw-bold"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div><br />

    <div class="form-group form-check form-switch" >
        <label asp-for="IsPublic" class="form-check-label fw-bold">Free Public Event?</label>
        <input asp-for="IsPublic" type="checkbox" class="form-check-input" id="IsPublicToggle" />
    </div><br />

    <div class="form-group d-flex justify-content-between" id="priceQuotaSection">
        <div class="form-group me-3 w-50">
            <label asp-for="TicketPrice" class="fw-bold"></label>
            <div class="input-group mb-5">
                <span class="input-group-text">RM</span>
                <input asp-for="TicketPrice" id="TicketPrice" class="form-control" aria-label="Amount (Min RM1)" />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group w-50">
            <label asp-for="TicketQuota" class="fw-bold"></label>
            <input asp-for="TicketQuota" id="TicketQuota" class="form-control" />
            <span asp-validation-for="TicketQuota" class="text-danger"></span>
        </div>
    </div><br />


    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    <script src="~/js/event-form.js" asp-append-version="true"></script>
}