@model ExpoBookApp.Models.Event

<h2>Edit Event</h2>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="EventName" class="control-label"></label>
        <input asp-for="EventName" class="form-control" />
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventType" class="control-label"></label>
        <select asp-for="EventType" class="form-control">
            <option value="Competition">Competition-</option>
            <option value="Conference">Conference-</option>
            <option value="Convention">Convention-</option>
            <option value="Exhibition">Exhibition-</option>
            <option value="Fair">Fair-</option>
            <option value="Festival">Festival</option>
            <option value="Meetup">Meetup</option>
            <option value="Other">Other</option>
            <option value="ThemedEvent">Themed Event</option>
            <option value="Webinar">Webinar</option>
            <option value="Workshop">Workshop</option>
            <option value="Others">Others</option>
        </select>
        <span asp-validation-for="EventType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Venue" class="control-label"></label>
        <select asp-for="Venue" class="form-control">
            <option value="">-- Select a venue --</option>
            <option value="testvenue">TestVenue-</option>
        </select>
        <span asp-validation-for="Venue" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-between" id="DateSection">
        <div class="form-group me-3 w-50">
            <label asp-for="StartDate" class="control-label fw-bold"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group w-50">
            <label asp-for="EndDate" class="control-label fw-bold"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div><br />

    <div class="form-group form-check form-switch">
        <label asp-for="IsPublic" class="form-check-label fw-bold">Free Public Event?</label>
        <input asp-for="IsPublic" type="checkbox" class="form-check-input" id="IsPublicToggle" />
    </div><br />

    <div class="form-group d-flex justify-content-between" id="priceQuotaSection">
        <div class="form-group me-3 w-50">
            <label asp-for="TicketPrice" class="fw-bold"></label>
            <div class="input-group mb-5">
                <span class="input-group-text">RM</span>
                <input asp-for="TicketPrice" id="TicketPrice" class="form-control" aria-label="Amount (Min RM1)" />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group w-50">
            <label asp-for="TicketQuota" class="fw-bold"></label>
            <input asp-for="TicketQuota" id="TicketQuota" class="form-control" />
            <span asp-validation-for="TicketQuota" class="text-danger"></span>
        </div>
    </div><br />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
