@{
    ViewData["Title"] = "Password Reset Email Sent";
}

<h2>Password Reset Email Sent</h2><br />
<p>If an account exists for the email provided, a password reset link has been sent.</p>
<p>Please check your inbox (or spam folder).</p>