@model ExpoBookApp.Models.Venues

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Venue Name</label>
                <input asp-for="Name" class="form-control" placeholder="Convention Centre" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label">Venue Size (sq ft)</label>
                <input asp-for="Size" class="form-control" placeholder="e.g 25460" required />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Venue Address</label>
                <textarea asp-for="Address" class="form-control" placeholder="Address" required></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateCode" class="control-label">Post Code</label>
                <input asp-for="StateCode" class="form-control" placeholder="e.g 58000" required />
                <span asp-validation-for="StateCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label">State</label>
                <input asp-for="State" class="form-control" placeholder="Selangor" required />
                <span asp-validation-for="State" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create Venue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
