@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    This is the Venue Delete page. The page will allow the Venue Leaser to delete a venue listing.
</p>